<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1022034650204-v41egmgqbdno64tp87jvp9acslevo54r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022034650204-v41egmgqbdno64tp87jvp9acslevo54r</string>
	<key>API_KEY</key>
	<string>AIzaSyB7b9Bi4uPy2f0bLuXyadweCLDDcmLnP1s</string>
	<key>GCM_SENDER_ID</key>
	<string>1022034650204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>runam.app.runam</string>
	<key>PROJECT_ID</key>
	<string>runam-58970</string>
	<key>STORAGE_BUCKET</key>
	<string>runam-58970.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022034650204:ios:d42a92ffc777f43ec03299</string>
</dict>
</plist>